.footer__copyright {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #b6bcbf;
}

@media screen and (max-width: 675px) {
  .footer__copyright {
    order: 3;
  }
}

@media screen and (max-width: 475px) {
  .footer__copyright {
    margin-bottom: 60px;
  }
}