<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta NAME="author" CONTENT="Стадник Александр">
  <meta name="description" content="Дипломная работа в Яндекс.Практикуме.">
  <title>Diplom</title>
  <link rel="icon" type="image/x-icon" href="../<%=require('@images/favicon.png').default%>">
  <!-- <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.savedArticles.css %>" /> -->
  <link rel="stylesheet" type="text/css" href="./index.css">
</head>

<body>
  <div class="root">
    <header class="header header__saved container">
      <div class="header__nav-box header__nav-box_dark">
        <div class="content-container">
          <h1 class="header__title header__title_dark">NewsExplorer</h1>
          <input class="header__nav-switcher" id="header-nav-switcher" type="checkbox">
          <label class="header__nav-switcher-label header__nav-switcher-label_open header__nav-switcher-label_dark"
            for="header-nav-switcher"></label>
          <nav class="header__nav">
            <ul class="header__nav-list">
              <li class="header__nav-item header__nav-item_dark">
                <a class="header__nav-item-link" href="../main/index.html">Главная</a>
              </li>
              <li class="header__nav-item header__nav-item_dark header__nav-item_active">
                <a class="header__nav-item-link" href="">Сохранённые статьи</a>
              </li>
              <li class="header__nav-item">
                <button class="button button__transparent header__nav-item-button header__nav-item-button_dark">
                  Александр
                  <i class="header__nav-item-button-icon header__nav-item-button-icon_dark"></i>
                </button>
              </li>
            </ul>
            <label class="header__nav-switcher-label header__nav-switcher-label_close"
              for="header-nav-switcher"></label>
          </nav>
        </div>
      </div>
      <section class="content-container header-saved">
        <h2 class="header-saved__title">Сохранённые статьи</h2>
        <p class="section-title header-saved__subtitle">Александр, у вас 5 сохранённых статей</p>
        <p class="header-saved__details">
          По ключевым словам: <span class="header-saved__detail-tag">Природа</span>, <span
            class="header-saved__detail-tag">Тайга</span> и <span class="header-saved__detail-tag">2 другим</span>
        </p>
      </section>
    </header>
    <main class="main container">
      <section class="content-container saved-articles">
        <div class="saved-articles__items">
          <article class="article-card">
            <img class="article-card__img" src="../<%= require('@images/image_05.jpg').default %>"
              alt="Национальное достояние – парки" />
            <span class="article-card__tag">Природа</span>
            <span class="article-card__trash"></span>
            <div class="article-card__tip">
              <p class="article-card__tip-message">Убрать из сохранённых</p>
            </div>
            <div class="article-card__content">
              <h5 class="article-card__date">2 августа, 2019</h5>
              <h3 class="article-card__title">Национальное достояние – парки</h3>
              <p class="article-card__text">
                В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складываться система национальных
                парков – охраняемых территорий, где и сегодня каждый может приобщиться к природе.
              </p>
            </div>
            <h4 class="article-card__source">Лента.ру</h4>
          </article>
          <article class="article-card">
            <img class="article-card__img" src="../<%= require('@images/image_06.jpg').default %>"
              alt="Национальное достояние – парки" />
            <span class="article-card__tag">Природа</span>
            <span class="article-card__trash"></span>
            <div class="article-card__tip">
              <p class="article-card__tip-message">Убрать из сохранённых</p>
            </div>
            <div class="article-card__content">
              <h5 class="article-card__date">2 августа, 2019</h5>
              <h3 class="article-card__title">Национальное достояние – парки</h3>
              <p class="article-card__text">
                В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складываться система национальных
                парков – охраняемых территорий, где и сегодня каждый может приобщиться к природе.
              </p>
            </div>
            <h4 class="article-card__source">Лента.ру</h4>
          </article>
          <article class="article-card">
            <img class="article-card__img" src="../<%= require('@images/image_01.jpg').default %>"
              alt="Национальное достояние – парки" />
            <span class="article-card__tag">Природа</span>
            <span class="article-card__trash"></span>
            <div class="article-card__tip">
              <p class="article-card__tip-message">Убрать из сохранённых</p>
            </div>
            <div class="article-card__content">
              <h5 class="article-card__date">2 августа, 2019</h5>
              <h3 class="article-card__title">Национальное достояние – парки</h3>
              <p class="article-card__text">
                В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складываться система национальных
                парков – охраняемых территорий, где и сегодня каждый может приобщиться к природе.
              </p>
            </div>
            <h4 class="article-card__source">Лента.ру</h4>
          </article>
          <article class="article-card">
            <img class="article-card__img" src="../<%= require('@images/image_05.jpg').default %>"
              alt="Национальное достояние – парки" />
            <span class="article-card__tag">Природа</span>
            <span class="article-card__trash"></span>
            <div class="article-card__tip">
              <p class="article-card__tip-message">Убрать из сохранённых</p>
            </div>
            <div class="article-card__content">
              <h5 class="article-card__date">2 августа, 2019</h5>
              <h3 class="article-card__title">Национальное достояние – парки</h3>
              <p class="article-card__text">
                В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складываться система национальных
                парков – охраняемых территорий, где и сегодня каждый может приобщиться к природе.
              </p>
            </div>
            <h4 class="article-card__source">Лента.ру</h4>
          </article>
          <article class="article-card">
            <img class="article-card__img" src="../<%= require('@images/image_05.jpg').default %>"
              alt="Национальное достояние – парки" />
            <span class="article-card__tag">Природа</span>
            <span class="article-card__trash"></span>
            <div class="article-card__tip">
              <p class="article-card__tip-message">Убрать из сохранённых</p>
            </div>
            <div class="article-card__content">
              <h5 class="article-card__date">2 августа, 2019</h5>
              <h3 class="article-card__title">Национальное достояние – парки</h3>
              <p class="article-card__text">
                В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складываться система национальных
                парков – охраняемых территорий, где и сегодня каждый может приобщиться к природе.
              </p>
            </div>
            <h4 class="article-card__source">Лента.ру</h4>
          </article>
        </div>
      </section>
    </main>
    <footer class="container content-container footer">
      <p class="footer__copyright">&copy; 2020 Supersite, Powered by News API</p>
      <nav class="footer__nav">
        <ul class="footer__nav-list">
          <li class="footer__nav-list-item">
            <a class="footer__nav-list-item-link" href="/">Главная</a></li>
          <li class="footer__nav-list-item">
            <a class="footer__nav-list-item-link" href="https://praktikum.yandex.ru/"
              target="_blank">Яндекс.Практикум</a>
          </li>
        </ul>
      </nav>
      <ul class="footer__social">
        <li class="footer__social-item">
          <a href="https://github.com/7StaSH7" class="footer__social-item-link" target="_blank">
            <img src="../<%= require('@images/github.svg').default %>" class="footer__social-icon" alt="GitHub">
          </a>
        </li>
        <li class="footer__social-item">
          <a href="https://vk.com/7stash7" class="footer__social-item-link" target="_blank">
            <img src="../<%= require('@images/fb.svg').default %>" class="footer__social-icon" alt="Facebook">
          </a>
        </li>
      </ul>
    </footer>

  </div>

  <script type="module" src="<%= htmlWebpackPlugin.files.chunks.savedArticles.entry %>"></script>
</body>

</html>