<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta NAME="author" CONTENT="Стадник Александр">
  <meta name="description" content="Дипломная работа в Яндекс.Практикуме.">
  <title>Diplom</title>
  <link rel="icon" type="image/x-icon" href="../<%=require('@images/favicon.png').default%>">
  <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.savedArticles.css %>" />
</head>

<body>
  <div class="root">
    <header class="header header__saved container">
      <div class="header-nav-container"></div>
      <section class="content-container header-saved">
        <h2 class="header-saved__title">Сохранённые статьи</h2>
        <p class="section-title header-saved__subtitle"><span class="header-saved__name"></span>, у вас <span
            class="header-saved__articles-count">0</span>
          сохранённых статей</p>
        <p class="header-saved__details"></p>
      </section>
    </header>
    <main class="main container">
      <section class="content-container saved-articles news-cards-list search-results_hidden">
        <div class="saved-articles__items"></div>
      </section>
    </main>
    <footer class="container content-container footer">
      <p class="footer__copyright">&copy; 2020 Supersite, Powered by News API</p>
      <nav class="footer__nav">
        <ul class="footer__nav-list">
          <li class="footer__nav-list-item">
            <a class="footer__nav-list-item-link" href="../main/index.html">Главная</a></li>
          <li class="footer__nav-list-item">
            <a class="footer__nav-list-item-link" href="https://praktikum.yandex.ru/"
              target="_blank">Яндекс.Практикум</a>
          </li>
        </ul>
      </nav>
      <ul class="footer__social">
        <li class="footer__social-item">
          <a href="https://github.com/7StaSH7" class="footer__social-item-link" target="_blank">
            <img src="../<%= require('@images/github.svg').default %>" class="footer__social-icon" alt="GitHub">
          </a>
        </li>
        <li class="footer__social-item">
          <a href="https://vk.com/7stash7" class="footer__social-item-link" target="_blank">
            <img src="../<%= require('@images/fb.svg').default %>" class="footer__social-icon" alt="Facebook">
          </a>
        </li>
      </ul>
    </footer>

    <template id="header-saved-detail-tag">
      <span class="header-saved__detail-tag"></span>
    </template>

    <template id="header-nav-logged-in-dark">
      <div class="header__nav-box header__nav-box_dark">
        <div class="content-container">
          <h1 class="header__title header__title_dark">NewsExplorer</h1>
          <input class="header__nav-switcher" id="header-nav-switcher" type="checkbox">
          <label class="header__nav-switcher-label header__nav-switcher-label_open header__nav-switcher-label_dark"
            for="header-nav-switcher"></label>
          <nav class="header__nav">
            <ul class="header__nav-list">
              <li class="header__nav-item header__nav-item_dark">
                <a class="header__nav-item-link" href="../main/index.html">Главная</a>
              </li>
              <li class="header__nav-item header__nav-item_dark header__nav-item_active">
                <a class="header__nav-item-link" href="">Сохранённые статьи</a>
              </li>
              <li class="header__nav-item">
                <button class="button button__transparent header__nav-item-button header__nav-item-button_dark">
                  <span class="header__nav-item-name"></span>
                  <i class="header__nav-item-button-icon header__nav-item-button-icon_dark"></i>
                </button>
              </li>
            </ul>
            <label class="header__nav-switcher-label header__nav-switcher-label_close"
              for="header-nav-switcher"></label>
          </nav>
        </div>
      </div>
    </template>

    <template id="saved-articles">
      <div class="saved-articles__items"></div>
    </template>

    <template id="article-card">
      <article class="article-card">
        <img class="article-card__img" src="" alt="" />
        <div class="article-card__icon-container"></div>
        <div class="article-card__content">
          <h5 class="article-card__date"></h5>
          <h3 class="article-card__title"></h3>
          <p class="article-card__text"></p>
        </div>
        <h4 class="article-card__source"></h4>
      </article>
    </template>

    <template id="article-card-base-action">
      <a href="" target="_blank" class="article-card__link"></a>
      <div class="article-card__bookmark">
        <div class="article-card__bookmark-icon article-card__bookmark-icon_unmarked article-card__action"></div>
      </div>
      <div class="article-card__tip">
        <p class="article-card__tip-message">Войдите, чтобы сохранять статьи</p>
      </div>
    </template>

    <template id="article-card-like-action">
      <a href="" target="_blank" class="article-card__link"></a>
      <div class="article-card__bookmark">
        <div class="article-card__bookmark-icon article-card__bookmark-icon_unmarked article-card__action"></div>
      </div>
    </template>

    <template id="article-card-unlike-action">
      <a href="" target="_blank" class="article-card__link"></a>
      <div class="article-card__bookmark">
        <div class="article-card__bookmark-icon article-card__bookmark-icon_marked article-card__action"></div>
      </div>
    </template>

    <template id="article-card-saved-action">
      <a href="" target="_blank" class="article-card__link"></a>
      <span class="article-card__tag">Природа</span>
      <span class="article-card__trash article-card__action"></span>
      <div class="article-card__tip">
        <p class="article-card__tip-message">Убрать из сохранённых</p>
      </div>
    </template>



  </div>

  <script type="module" src="<%= htmlWebpackPlugin.files.chunks.savedArticles.entry %>"></script>
</body>

</html>